---
import Layout from "../layouts/Layout.astro";
import Landing from "../content/landing.md";
---

<Layout>
    <a
        href="https://hackclub.com"
        target="_blank"
        rel="noopener noreferrer"
        class="absolute top-0 left-4 md:left-10 z-10"
    >
        <img
            src="https://assets.hackclub.com/flag-orpheus-top.svg"
            alt="Hack Club"
            class="w-20 md:w-32"
        />
    </a>
    <div
        class="max-w-2xl mx-auto px-4 my-16 md:my-24 font-serif font-semibold items-start flex flex-col"
    >
        <div class="prose-lg">
            <Landing />
        </div>
        <div class="mt-8">
            <a
                href="/info/overview"
                class="bg-amber-800 hover:bg-amber-900 text-taupe-100 font-bold py-2 px-4 rounded transition duration-200"
                >Get Started ➔</a
            >
        </div>
        <div class="prose my-12 text-taupe-900">
            <p>
                Have questions? You should probably check out the <a
                    href="/info/faq">FAQ</a
                >
            </p>
        </div>
    </div>
</Layout>
