---
import { ClientRouter } from "astro:transitions";
import Layout from "./Layout.astro";
import DocsSidebar from "../components/DocsSidebar.astro";
import DocsPagination from "../components/DocsPagination.astro";
---

<Layout>
    <ClientRouter slot="head" />
    <div class="min-h-screen font-sans">
        <DocsSidebar />
        <main class="px-4 py-8 md:px-12 md:py-16">
            <article
                class="prose prose-stone max-w-3xl mx-auto pl-8 prose-p:font-medium prose-li:font-medium prose-li:marker:text-inherit"
            >
                <slot />
                <br />
                <br />
            </article>
            <div class="max-w-3xl mx-auto">
                <DocsPagination />
            </div>
        </main>
    </div>
</Layout>
