@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-serif: "EB Garamond", serif;
    --font-sans: "Hind Madurai", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-image: url("/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Hind Madurai", sans-serif;
}

.prose hr {
    @apply border-stone-900/67 border-2;
}

.prose img {
    @apply rounded-lg;
}

summary::-webkit-details-marker {
    display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
}

.hero {
    background-image: url("/herobg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: "Germania One", system-ui;
    color: #3B312F;
}

.germania {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline wavy;
}

.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-madurai-regular {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-madurai-medium {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-madurai-semibold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-madurai-bold {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes bobble {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

.bobble {
  animation: bobble 2.0s ease-in-out infinite;
}

.striped {
  background-image: url('/stripe.svg');
  background-repeat: repeat;
  background-size: auto 100%;
  transition: background-position 0.3s ease;
}

.striped:hover {
  background-position: -60px 0;
}