---
---

<nav class="flex items-center px-8 py-4 bg-[#3B312F]">
    <a href="/"><img src="/outposttext.svg" class="h-6" /></a>
    <div class="ml-auto flex flex-row space-x-4 text-xl md:text-3xl">
        <a href="https://stardance.hackclub.com">
            <p class="text-center text-[#34E0BA] rounded hover:scale-101 transistion duration-100">
                stardance
            </p>
        </a>
        <a href="/info/overview">
            <p class="text-center text-[#34E074] rounded hover:scale-101 transistion duration-100">
                start
            </p>
        </a> 
    </div>

</nav>