---
---

<a href="https://stardance.hackclub.com">
    <p class="text-3xl mt-8 text-center mx-10 text-balance px-6 py-2 bg-[#3B312F] text-[#34E0BA] rounded hover:scale-105 transition duration-150 striped">
        START AT STARDANCE
    </p>
</a>